<!-- navbar -->
<nav class="navbar navbar-default navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/">ReqV</a>
    <ul class="navbar-nav navbar-right" *ngIf="authenticationService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="/" >Logout</a>
      </li>
    </ul>

  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">

  <div class="container">
      <app-alert></app-alert>

      <router-outlet></router-outlet>
  </div>
</div>

<!-- credits -->
<footer class="text-center">
  <p>
    Copyright © 2017 Simone Vuotto | All Rights Reserved
  </p>
</footer>
