<!-- navbar -->
<nav class="navbar navbar-default navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" routerLink="/"><img width="100px" height="50px" src="assets/img/reqv-logo.jpeg"/></a>
    <ul class="navbar-nav navbar-right" *ngIf="authenticationService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="/" >Logout</a>
      </li>
    </ul>

  </div>
</nav>

<!-- main app container -->
<div class="container-fluid">

  <div class="container">
      <app-alert></app-alert>

      <router-outlet></router-outlet>
  </div>
</div>

<!-- credits -->
<footer>
  <div class="container">
    <div class="hline"></div>
    <p class="small">
      Copyright © 2017 Simone Vuotto | All Rights Reserved
    </p>
  </div>

</footer>
