@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* You can add global styles to this file, and also import other style files */

.modal-backdrop {
  opacity: .5;
}

.hline {
  border-bottom: 1px solid #373a3c;
  margin-bottom: 0.5em;
}


.row-green {
  background-color: #77B300;
}

.row-red {
  background-color: #CC0000;
}

.row-yellow {
  background-color: #FF8800;
}

.row-disabled {
  background-color: #555;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  color: #ffffff;
}

.ngx-datatable.material .datatable-body .datatable-body-row :hover .datatable-body-cell :hover{
  color: #373a3c;
}

ngb-progressbar .progress-bar {
  color: white;
}

