<div class="tab-progress" *ngIf="uploadLoading">
  <ngb-progressbar type="primary" [value]="100" [striped]="true" [animated]="true">
    <span>{{ progressMessage }}</span>
  </ngb-progressbar>
</div>


<div class="row tab-header">
  <div class="col-10 pl-0">
    <div class="hidden"><input type="file" #fileInput (change)="fileChange($event)"/></div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="disableSelected(false)"><i class="fa fa-check"></i>&nbsp;Enable</button>
      <button type="button" class="btn btn-secondary" (click)="disableSelected(true)"><i class="fa fa-minus"></i>&nbsp;Disable</button>
      <button type="button" class="btn btn-secondary" (click)="deleteSelected()"><i class="fa fa-trash"></i>&nbsp;Delete</button>
    </div>



    <button type="button" class="btn btn-outline-primary" (click)="fileInput.click()"
            [disabled]="uploadLoading">
      <i class="fa fa-plus" aria-hidden="true" *ngIf="!uploadLoading"></i>
      <i class='fa fa-spinner fa-spin' *ngIf="uploadLoading"></i>
      &nbsp;Add Requirement
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="fileInput.click()"
            [disabled]="uploadLoading">
      <i class="fa fa-upload" aria-hidden="true" *ngIf="!uploadLoading"></i>
      <i class='fa fa-spinner fa-spin' *ngIf="uploadLoading"></i>
      &nbsp;Upload File
    </button>
  </div>
  <div class="col-2 pr-0">

    <input
      type='text'
      class="form-control search-field pull-right"
      placeholder='Search...'
      (keyup)='updateFilter($event)'
      [(ngModel)]="searchValue"
    />
  </div>
</div>


<ngx-datatable #table
  class="material"
  [columnMode]="'standard'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [selected]="selected"
  [selectionType]="'checkbox'"
  [rows]='rows'
  [rowClass]="getRowClass"
  [reorderable]="true"
  (activate)="requirementDetails($event)">
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="false"
    [checkboxable]="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Id" [width]="50"></ngx-datatable-column>
  <ngx-datatable-column name="Requirement" prop="text" [width]="1000"></ngx-datatable-column>
</ngx-datatable>

<app-requirement-details [req]="selectedRequirement" (update)="onChange($event)"></app-requirement-details>
